    <!-- ******ABOUT****** -->
    <section id="about" class="about section">
        <div class="container">
            <h2 class="title text-center">What is Open Drupal?</h2>
            <p class="intro text-center">The Open Drupal materials are made for guided learning, such as in-person courses or teaching your colleague Drupal. The materials may therefore not be suitable for self study. We suggest to find an experienced Drupal user via your local Drupal community who can use the Open Drupal materials to teach you Drupal.</p>
            <div class="row">
                <div class="item col-md-4 col-sm-6 col-xs-12">
                    <div class="icon-holder">
                        <i class="fa fa-heart"></i>
                    </div>
                    <div class="content">
                        <h3 class="sub-title">Created by Drupal experts</h3>
                        <p>The Open Drupal materials are created by Drupal experts and teachers. Years of practical experience and community best practices are bundled in each of the courses.</p>
                    </div><!--//content-->
                </div><!--//item-->
                <div class="item col-md-4 col-sm-6 col-xs-12">
                    <div class="icon-holder">
                        <i class="fa fa-clock-o"></i>
                    </div>
                    <div class="content">
                        <h3 class="sub-title">Ready to use</h3>
                        <p>Course materials are assembled with ease of use in mind. Both by the teacher and the attendees. Where applicable a course includes set-up instruction, required code and assets. Step by step instructions are accompanied with code of completed exercises.</p>
                    </div><!--//content-->
                </div><!--//item-->
                <div class="item col-md-4 col-sm-6 col-xs-12">
                    <div class="icon-holder">
                        <i class="fa fa-crosshairs"></i>
                    </div>
                    <div class="content">
                        <h3 class="sub-title">Our materials</h3>
                        <p>The Open Drupal Curriculum consists of course materials to learn the various disciplines in working with Drupal.</p>
                        <p>Our materials contain everything you need to run a course; slides, exercises, example code and instructions or materials to set-up a course environment.</p>
                    </div><!--//content-->
                </div><!--//item-->
                <div class="clearfix visible-md"></div>

            </div><!--//row-->
        </div><!--//container-->
    </section><!--//about-->
