    <!-- ******CONTACT****** -->
    <section id="contact" class="contact section has-pattern">
        <div class="container">
            <div class="contact-inner">
                <h2 class="title  text-center">Contact</h2>
                <div class="clearfix"></div>
                <div class="info text-center">
                    <h3 class="sub-title">Get Connected</h3>
                    <ul class="social-icons list-inline">
                        <li><a href="http://drupalslack.herokuapp.com/" target="_blank"><i class="fa fa-slack"></i></a></li>
                        <li><a href="https://www.linkedin.com/groups/8324305/"><i class="fa fa-linkedin"></i></a></li>
                        <li><a href="https://github.com/opendrupal"><i class="fa fa-github"></i></a></li>
                    </ul>
                </div><!--//info-->
            </div><!--//contact-inner-->
        </div><!--//container-->
    </section><!--//contact-->
