    <!-- ******PROMO****** -->
    <section id="promo" class="promo section offset-header">
        <div class="container text-center">
            <img src="images/open-drupal-logo.png" alt="Open Drupal Logo"/>
            <p class="intro">An open curriculum of Drupal course materials.</p>
            <p>
              <strong>Course leaders:</strong> You have the Drupal knowledge, we have the materials.
            </p>
            <p>
              <strong>Attendees:</strong> Quality materials that will help you to learn Drupal.
            </p>
            <div class="btns">
                <a class="btn btn-cta-secondary" href="/contribute"><i class="fa fa-drupal"></i>Contribute</a>
                <a class="btn btn-cta-primary" href="/materials"><i class="fa fa-drupal"></i>Materials</a>
            </div>
            <ul class="meta list-inline">
                <li><a class="btn" href="https://github.com/OpenDrupal" target="_blank">View on GitHub</a></li>
            </ul><!--//meta-->
        </div><!--//container-->
        <div class="social-media">
            <div class="social-media-inner container text-center">
                <ul class="list-inline">
                    <!--// Generate github buttons: https://github.com/mdo/github-buttons -->

                    <ul class="social-icons list-inline">
                        <li><a href="http://drupalslack.herokuapp.com/" target="_blank"><i class="fa fa-slack"></i></a></li>
                        <li><a href="https://www.linkedin.com/groups/8324305/"><i class="fa fa-linkedin"></i></a></li>
                        <li><a href="https://github.com/opendrupal"><i class="fa fa-github"></i></a></li>
                    </ul>

                    <!--//
                    <li class="github-follow"><iframe src="http://ghbtns.com/github-btn.html?user=mdo&type=follow&count=true"
  allowtransparency="true" frameborder="0" scrolling="0" width="165" height="20"></iframe></li>
                    -->
                </ul>
            </div>
        </div>
    </section><!--//promo-->
